*{
    font-family: 'Roboto', sans-serif;
}
a{
    color: white;
}
a:hover { 
    text-decoration: none; 
    color: rgb(188, 28, 44);
}
/* logo */
.logo{
    width: 200px;
}
.navbar-nav .nav-link {
    font-weight: 1000;
    color: #222222;
}
/* navbar */
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: rgb(188, 28, 44);
}
.nav-bar-2{
    max-width: 215px;
}
.dropdown-item{
    color: #222222;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(188, 28, 44);
}
.navbar-nav .dropdown-menu {
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-top-width: 3px;
    border-top-color: rgb(188, 28, 44);
}
.nav-orange-box a:hover{
    color: white;
}
/* section2 */
.s2-banner{
    min-height: 400px;
    background-image: url("https://templates.envytheme.com/dibiz/default/assets/img/banner-img1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.feature-s{
    background-color: #3d3d3d0e;
    border-radius: 3%;
}

/* section3 */
.about-img{
    min-height: 600px;
    background-image: url("https://templates.envytheme.com/dibiz/default/assets/img/about-img1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* accordian */
.card-link:hover {
    color: rgb(188, 28, 44);
}
/* section7 */
.s7-banner{
    min-height: 400px;
    background-image: url("https://templates.envytheme.com/dibiz/default/assets/img/testimonials-img.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
/* section 8 */
.emp{
    position: relative;
    width: 100%
    
}
.emp:hover .emp-card {
    z-index: 1;
    opacity: 1;
}
.emp:hover .emp-card-content-1{
    z-index: 2;
    opacity: 1;
}
.emp:hover .emp-card-content-2{
    z-index: 2;
    opacity: 1;
}
.emp-card-img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.emp-card-content-1{
    width: 20%;
    height: 70%;
    background-color:#f5f5f500;
    transition: .5s ease;
    top : 35%;
    left: 90%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
}
.emp-card-link{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

}
.emp-card-link i{
    color: rgb(188, 28, 44);
}
.emp-card-content-2{
    width: 99.8%;
    height: 30.5%;
    background-color:#f5f5f5;
    transition: .5s ease;
    top : 85%;
    left: 50.1%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    flex-direction: column;
}
.emp-card-text-1{
    font-size: xx-large;
}
.emp-card-text-2{
    font-size: medium;
}
/* footer */
.footer{
    background-color: white;
}
.footer-social-icon{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: rgb(188, 28, 44);
    display: flex;
    justify-content: center;
    align-items: center;

}
/* heading  */
.main-heading{
    font-size: 40px;
    font-weight: 800; 
    font-stretch: ultra-expanded;
    line-height: 1.2;
}
/* heading  */
.sub-heading-1{
    font-size:  25px;
    font-weight: 800; 
}
/* utils */
.text-big-g{
    font-size: 50px; 
    font-weight: 800; 
    font-stretch: ultra-expanded;
    line-height: 1;
}
.text-big-g-1{
    font-size: 25px; 
    font-weight: 900; 
    line-height: 1.3;
}
.text-w{
    color: rgb(255, 255, 255);
}
.text-r{
    font-weight: 1000;
    color: rgb(188, 28, 44);
}
.text-i-w{
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 3px;
}
.bdr-g-r{
    border-right: 4px solid #22222280;
}
.orange-box-1{
    background-color: rgb(188, 28, 44);
    width: 25px;
    min-height: 45px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.orange-box-2{
    background-color: rgb(188, 28, 44);
    width: 30px;
    min-height: 45px;
}
.orange-box-3{
    background-color: rgb(188, 28, 44);
    width: 20px;
    min-height: 45px;
}
.orange-box-4{
    background-color: rgb(188, 28, 44);
    width: 25px;
    min-height: 45px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.orange-box-5{
    background-color: rgb(188, 28, 44);
    width: 150px;
    min-height: 40px;
    border-radius: 10px;
}
.orange-box-6{
    background-color: rgb(188, 28, 44);
    width: 50px;
    min-height: 40px;
    border-radius: 10px;
}
.orange-box-7{
    background-color: rgb(188, 28, 44);
    width: 160px;
    min-height: 40px;
    border-radius: 10px;
}
.orange-box-8{
    background-color: rgb(188, 28, 44);
    width: 160px;
    max-height: 45px;
    border-radius: 10px;
}
.orange-box-9{
    background-color: rgb(188, 28, 44);
    width: 160px;
    max-height: 38px;
}
.h-line1{
    background-color: #ffffff81;
    height: 30px;
    width: 2px;
}
.border-dropdown{
    border-color: rgb(188, 28, 44);;
    border: 0px;
    border-top: 2px;
}
.cirle-1{
    width: 52px;
    height: 52px;
    background-color:rgb(188, 28, 44);;
    border-radius: 50%;
}
.cirle-2{
    width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}


/* mobile view styles  */
@media screen and (max-width: 768px) {
    .main-heading{
        font-size: 30px;
        
    }
    .contact-main-box{
        max-width: 60px;
    }  
}


/* contact styles */
.contact-main-box{
    background-color: rgb(188, 28, 44);
    min-width: 60px;
    max-width: 100px;
    height: 70px;
    border-radius: 10px;
}   
.contact-img{
    min-height: 600px;
    background-image: url("https://templates.envytheme.com/dibiz/default/assets/img/contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.map-contact{
    background-color: black;
}