*{
    font-family: 'Roboto', sans-serif;
}

/* logo */
.logo{
    width: 200px;
}
.navbar-nav .nav-link {
    font-weight: 1000;
    color: #222222;
}
/* navbar */
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: rgb(205, 41, 59);
}
.nav-bar-2{
    max-width: 215px;
}
.dropdown-item{
    color: #222222;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(205, 41, 59);
}
.navbar-nav .dropdown-menu {
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-top-width: 3px;
    border-top-color: rgb(205, 41, 59);
}
/* section2 */
.s2-banner{
    min-height:800px;
    background-image: url("https://templates.envytheme.com/dibiz/default/assets/img/banner-img1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.feature-s{
    background-color: #3d3d3d0e;
    border-radius: 3%;
}

/* utils */
.text-w{
    color: rgb(255, 255, 255);
}
.text-g{
    color: #222222;
}
.text-r{
    font-weight: 1000;
    color: rgb(205, 41, 59);
}
.text-i-w{
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 3px;
}
.bdr-g-r{
    border-right: 4px solid #22222280;
}
.orange-box-1{
    background-color: rgb(205, 41, 59);
    width: 40px;
    min-height: 45px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.orange-box-2{
    background-color: rgb(205, 41, 59);
    width: 30px;
    min-height: 45px;
}
.orange-box-3{
    background-color: rgb(205, 41, 59);
    width: 20px;
    min-height: 45px;
}
.orange-box-4{
    background-color: rgb(205, 41, 59);
    width: 40px;
    min-height: 45px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.orange-box-5{
    background-color: rgb(205, 41, 59);
    width: 150px;
    min-height: 40px;
    border-radius: 10%;
}
.orange-box-6{
    background-color: rgb(205, 41, 59);
    width: 50px;
    min-height: 40px;
    border-radius: 10%;
}
.h-line1{
    background-color: #ffffff81;
    height: 30px;
    width: 2px;
}
.border-dropdown{
    border-color: rgb(205, 41, 59);
    border: 0px;
    border-top: 2px;
}
.cirle-1{
    width: 52px;
    height: 52px;
    background-color: rgb(31, 128, 255);
    border-radius: 50%;
}
.cirle-2{
    width: 90px;
    height: 90px;
    background-color: rgba(205, 41, 59, 0.048);
    border-radius: 50%;
}